<section class="jumbotron vcodes">
    <center>
    <br><br>
    <div class="container px-3 mb-5 mt-1">
      <div class="mb-3 mx-auto">
        <br>
        <img  draggable="false" style="z-index: 1!important; width: 160px; position: relative;" class="imagef" src="/img/nighthost.png" width="320" alt="UnitiUptimer">
        <br>
        <h1 class="has-text-white title" style="font-weight: 800;">UnitiUptimer</h1>
        <br>
        
        <br><br>
        
      </div>
    </div>
    <br>
    </center>
</section>